<%- include("partials/header"); -%>
<div class="main">
  <div class="mainBody">
    <div class="mainHeading">
      <h2 class="text-center head1 welcome">Welcome to</h2>
      <h1 class=" text-center head1 mb-4">SUBLIME HOLDINGS</h1>
      <h2 class="text-center head1"> The Fastest Way to Send Money Worldwide</h2>
    </div>
    <div class="buttonsGroup d-flex mt-5 justify-content-center">
      <a href="/transactions"><button class="btn btn-info btn-lg mx-4">All Transactions</button></a>
      <a href="/allAccount"><button class="btn btn-info btn-lg mx-4">Money Transfer</button></a>
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
